/*------------------------------------------------------------------
	[Forms]
*/
ftrol {
  border-width: 1px;
  border-top-color: #bdc0c7;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 12px;
  font-size: 15px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  height: 48px; }

.form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form-control[multiple] {
    padding: 0; }
    .form-control[multiple] option {
      padding: 8px 12px; }

input.form-control, textarea.form-control {
  -webkit-appearance: none; }

label {
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 8px;
  color: #31373d; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  .inputfile + label {
    padding: 0 10px;
    width: 100%;
    font-size: 13px;
    line-height: 28px;
    border: 1px solid transparent;
    border-color: #dedede;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer; }
    .inputfile + label i {
      margin-right: 10px; }

.be-checkbox, .be-radio {
  display: block;
  line-height: 22px;
  margin: 0;
  padding: 7px 0; }
  .form-horizontal .be-checkbox, .form-horizontal .be-radio {
    padding: 7px 0;
    min-height: auto; }
  .be-checkbox input[type="checkbox"], .be-checkbox input[type="radio"], .be-radio input[type="checkbox"], .be-radio input[type="radio"] {
    margin: 0;
    display: none;
    width: 22px; }
  .be-checkbox label, .be-radio label {
    margin-bottom: 0; }
    .be-checkbox label::-moz-selection, .be-radio label::-moz-selection {
      background-color: transparent; }
    .be-checkbox label::selection, .be-radio label::selection {
      background-color: transparent; }
  .be-checkbox input[type="checkbox"] + label, .be-checkbox input[type="radio"] + label, .be-radio input[type="checkbox"] + label, .be-radio input[type="radio"] + label {
    padding-left: 0; }
    .be-checkbox input[type="checkbox"] + label:before, .be-checkbox input[type="radio"] + label:before, .be-radio input[type="checkbox"] + label:before, .be-radio input[type="radio"] + label:before {
      content: "";
      width: 22px;
      height: 22px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-right: 6px;
      font-size: 20px;
      font-family: "Material Icons";
      font-weight: normal;
      line-height: 19px;
      vertical-align: bottom;
      text-align: center;
      background-color: #ffffff;
      cursor: pointer; }
    .be-checkbox input[type="checkbox"] + label:hover:before, .be-checkbox input[type="radio"] + label:hover:before, .be-radio input[type="checkbox"] + label:hover:before, .be-radio input[type="radio"] + label:hover:before {
      border-color: #a2a8b6; }
  .be-checkbox input[type="checkbox"]:hover + label:before, .be-checkbox input[type="radio"]:hover + label:before, .be-radio input[type="checkbox"]:hover + label:before, .be-radio input[type="radio"]:hover + label:before {
    border-color: #b8bdc8; }
  .be-checkbox input[type="checkbox"]:checked + label:before, .be-checkbox input[type="radio"]:checked + label:before, .be-radio input[type="checkbox"]:checked + label:before, .be-radio input[type="radio"]:checked + label:before {
    content: "\f26b";
    color: #4285f4;
    border-color: #4285f4; }
  .be-checkbox input[type="checkbox"]:disabled + label, .be-checkbox input[type="radio"]:disabled + label, .be-radio input[type="checkbox"]:disabled + label, .be-radio input[type="radio"]:disabled + label {
    opacity: .5;
    pointer-events: none; }
    .be-checkbox input[type="checkbox"]:disabled + label:before, .be-checkbox input[type="radio"]:disabled + label:before, .be-radio input[type="checkbox"]:disabled + label:before, .be-radio input[type="radio"]:disabled + label:before {
      pointer-events: none;
      background-color: #ffffff; }
  .be-checkbox input[type="radio"] + label:before, .be-radio input[type="radio"] + label:before {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    line-height: 21px;
    font-size: 13px; }
  .be-checkbox input[type="radio"]:checked + label:before, .be-radio input[type="radio"]:checked + label:before {
    content: "\f26d"; }
  .be-checkbox.inline, .be-radio.inline {
    display: inline-block; }
    .be-checkbox.inline + .be-checkbox.inline, .be-radio.inline + .be-checkbox.inline, .be-checkbox.inline + .be-radio.inline, .be-radio.inline + .be-radio.inline {
      margin-left: 18px; }
  .be-checkbox.has-success input[type="checkbox"] + label:before,
  .be-checkbox.has-success input[type="radio"] + label:before, .be-radio.has-success input[type="checkbox"] + label:before,
  .be-radio.has-success input[type="radio"] + label:before {
    color: #37b358;
    border-color: #37b358; }
  .be-checkbox.has-warning input[type="checkbox"] + label:before,
  .be-checkbox.has-warning input[type="radio"] + label:before, .be-radio.has-warning input[type="checkbox"] + label:before,
  .be-radio.has-warning input[type="radio"] + label:before {
    color: #f6c163;
    border-color: #f6c163; }
  .be-checkbox.has-danger input[type="checkbox"] + label:before,
  .be-checkbox.has-danger input[type="radio"] + label:before, .be-radio.has-danger input[type="checkbox"] + label:before,
  .be-radio.has-danger input[type="radio"] + label:before {
    color: #eb6357;
    border-color: #eb6357; }

.be-checkbox-color input[type="checkbox"]:checked + label:before,
.be-checkbox-color input[type="radio"]:checked + label:before,
.be-radio-color input[type="checkbox"]:checked + label:before,
.be-radio-color input[type="radio"]:checked + label:before {
  color: #ffffff;
  border-color: #4285f4;
  background-color: #4285f4; }

.be-checkbox-color.has-success input[type="checkbox"]:checked + label:before,
.be-checkbox-color.has-success input[type="radio"]:checked + label:before,
.be-radio-color.has-success input[type="checkbox"]:checked + label:before,
.be-radio-color.has-success input[type="radio"]:checked + label:before {
  color: #ffffff;
  border-color: #37b358;
  background-color: #37b358; }

.be-checkbox-color.has-warning input[type="checkbox"]:checked + label:before,
.be-checkbox-color.has-warning input[type="radio"]:checked + label:before,
.be-radio-color.has-warning input[type="checkbox"]:checked + label:before,
.be-radio-color.has-warning input[type="radio"]:checked + label:before {
  color: #ffffff;
  border-color: #f6c163;
  background-color: #f6c163; }

.be-checkbox-color.has-danger input[type="checkbox"]:checked + label:before,
.be-checkbox-color.has-danger input[type="radio"]:checked + label:before,
.be-radio-color.has-danger input[type="checkbox"]:checked + label:before,
.be-radio-color.has-danger input[type="radio"]:checked + label:before {
  color: #ffffff;
  border-color: #eb6357;
  background-color: #eb6357; }

.be-radio-icon {
  display: block;
  margin: 0;
  padding: 7px 0; }
  .be-radio-icon input[type="radio"] {
    margin: 0;
    display: none;
    width: 52px; }
  .be-radio-icon label {
    cursor: pointer;
    margin: 0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #d5d8de;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    vertical-align: middle;
    color: gray; }
    .be-radio-icon label:hover {
      border-color: #b8bdc8; }
  .be-radio-icon input[type="radio"]:checked + label {
    border-color: #4285f4;
    color: #4285f4; }
  .be-radio-icon.has-success input[type="radio"]:checked + label {
    border-color: #37b358;
    color: #37b358; }
  .be-radio-icon.has-warning input[type="radio"]:checked + label, .be-radio-icon.has-warning input[type="radio"] + label {
    border-color: #f6c163;
    color: #f6c163; }
  .be-radio-icon.has-danger input[type="radio"]:checked + label {
    border-color: #eb6357;
    color: #eb6357; }
  .be-radio-icon.inline {
    display: inline-block; }
    .be-radio-icon.inline + .be-radio-icon.inline {
      margin-left: 18px; }

.be-checkbox-sm {
  line-height: 18px; }
  .be-checkbox-sm input[type="checkbox"] + label:before {
    width: 18px;
    height: 18px;
    font-size: 17px;
    line-height: 15px; }

.form-horizontal .form-group {
  margin-bottom: 0;
  padding: 12px 0; }

.input-group-addon {
  font-size: 15px; }
  .input-group-addon .be-checkbox, .input-group-addon .be-radio {
    padding: 0;
    line-height: 21px; }
    .input-group-addon .be-checkbox input + label, .input-group-addon .be-radio input + label {
      margin: 0; }
      .input-group-addon .be-checkbox input + label:before, .input-group-addon .be-radio input + label:before {
        margin: 0;
        border-color: #c7cbd3; }

.input-group-btn .btn {
  height: 48px; }

.input-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 57px;
  padding: 12px 14px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 2px; }

.input-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 37px;
  font-size: 13px;
  padding: 4px 12px; }

.input-xs {
  height: 30px;
  font-size: 12px;
  padding: 6px 9px; }

.has-feedback .form-control {
  padding-right: 45px; }

.form-control-feedback {
  font-size: 19px; }

/*------------------------------------------------------------------
  [Input Groups]
*/
.input-search {
  display: block; }
  .input-search input {
    border: 1px solid #d5d8de;
    border-radius: 0;
    display: block;
    font-size: 13px; }
    .input-search input:focus {
      background-color: transparent; }
  .input-search .input-group-btn {
    position: absolute;
    right: 0;
    display: block;
    width: auto;
    top: 1px;
    right: 1px;
    z-index: 3; }
    .input-search .input-group-btn button {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      height: 46px; }
      .input-search .input-group-btn button:active {
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none; }
      .input-search .input-group-btn button .fa {
        font-size: 25px;
        color: #737373; }
      .input-search .input-group-btn button:hover .fa {
        color: #5a5a5a; }
  .input-search.input-group-lg .input-group-btn button {
    height: 55px; }
  .input-search.input-group-sm .input-group-btn button {
    height: 35px; }
    .input-search.input-group-sm .input-group-btn button .fa {
      font-size: 22px; }

    .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 40px 10px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #404040;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5d8de;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #4285f4;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 133, 244, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 133, 244, 0.6); }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-ms-expand {
    border: 0;
    background-color: transparent; }
  .form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1; }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 40px; }
  input[type="date"].input-sm, .input-group-sm > input[type="date"].form-control,
  .input-group-sm > input[type="date"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="date"].btn,
  .input-group-sm input[type="date"],
  input[type="time"].input-sm,
  .input-group-sm > input[type="time"].form-control,
  .input-group-sm > input[type="time"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="time"].btn,
  .input-group-sm
  input[type="time"],
  input[type="datetime-local"].input-sm,
  .input-group-sm > input[type="datetime-local"].form-control,
  .input-group-sm > input[type="datetime-local"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="datetime-local"].btn,
  .input-group-sm
  input[type="datetime-local"],
  input[type="month"].input-sm,
  .input-group-sm > input[type="month"].form-control,
  .input-group-sm > input[type="month"].input-group-addon,
  .input-group-sm > .input-group-btn > input[type="month"].btn,
  .input-group-sm
  input[type="month"] {
    line-height: 37px; }
  input[type="date"].input-lg, .input-group-lg > input[type="date"].form-control,
  .input-group-lg > input[type="date"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="date"].btn,
  .input-group-lg input[type="date"],
  input[type="time"].input-lg,
  .input-group-lg > input[type="time"].form-control,
  .input-group-lg > input[type="time"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="time"].btn,
  .input-group-lg
  input[type="time"],
  input[type="datetime-local"].input-lg,
  .input-group-lg > input[type="datetime-local"].form-control,
  .input-group-lg > input[type="datetime-local"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="datetime-local"].btn,
  .input-group-lg
  input[type="datetime-local"],
  input[type="month"].input-lg,
  .input-group-lg > input[type="month"].form-control,
  .input-group-lg > input[type="month"].input-group-addon,
  .input-group-lg > .input-group-btn > input[type="month"].btn,
  .input-group-lg
  input[type="month"] {
    line-height: 57px; } }

.form-group {
  margin-bottom: 20px; 
  position: relative;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label,
  .checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled,
fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled,
fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled,
fieldset[disabled] .radio-inline,
.checkbox-inline.disabled,
fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled]
.checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 0;
  min-height: 31px; }
  .form-control-static.input-lg, .input-group-lg > .form-control-static.form-control,
  .input-group-lg > .form-control-static.input-group-addon,
  .input-group-lg > .input-group-btn > .form-control-static.btn, .form-control-static.input-sm, .input-group-sm > .form-control-static.form-control,
  .input-group-sm > .form-control-static.input-group-addon,
  .input-group-sm > .input-group-btn > .form-control-static.btn {
    padding-left: 0;
    padding-right: 0; }

.input-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 37px;
  padding: 5px 9px;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 2px; }

select.input-sm, .input-group-sm > select.form-control,
.input-group-sm > select.input-group-addon,
.input-group-sm > .input-group-btn > select.btn {
  height: 37px;
  line-height: 37px; }

textarea.input-sm, .input-group-sm > textarea.form-control,
.input-group-sm > textarea.input-group-addon,
.input-group-sm > .input-group-btn > textarea.btn,
select[multiple].input-sm,
.input-group-sm > select[multiple].form-control,
.input-group-sm > select[multiple].input-group-addon,
.input-group-sm > .input-group-btn > select[multiple].btn {
  height: auto; }

.form-group-sm .form-control {
  height: 37px;
  padding: 5px 9px;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 2px; }

.form-group-sm select.form-control {
  height: 37px;
  line-height: 37px; }

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto; }

.form-group-sm .form-control-static {
  height: 37px;
  min-height: 30px;
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.6; }

.input-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 57px;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.7;
  border-radius: 4px; }

select.input-lg, .input-group-lg > select.form-control,
.input-group-lg > select.input-group-addon,
.input-group-lg > .input-group-btn > select.btn {
  height: 57px;
  line-height: 57px; }

textarea.input-lg, .input-group-lg > textarea.form-control,
.input-group-lg > textarea.input-group-addon,
.input-group-lg > .input-group-btn > textarea.btn,
select[multiple].input-lg,
.input-group-lg > select[multiple].form-control,
.input-group-lg > select[multiple].input-group-addon,
.input-group-lg > .input-group-btn > select[multiple].btn {
  height: auto; }

.form-group-lg .form-control {
  height: 57px;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.7;
  border-radius: 4px; }

.form-group-lg select.form-control {
  height: 57px;
  line-height: 57px; }

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto; }

.form-group-lg .form-control-static {
  height: 57px;
  min-height: 33px;
  padding: 13px 16px;
  font-size: 15px;
  line-height: 1.7; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 50px; }

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  pointer-events: none; }

.input-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback,
.input-group-lg > .input-group-addon + .form-control-feedback,
.input-group-lg > .input-group-btn > .btn + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 57px;
  height: 57px;
  line-height: 57px; }

.input-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback,
.input-group-sm > .input-group-addon + .form-control-feedback,
.input-group-sm > .input-group-btn > .btn + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 37px;
  height: 37px;
  line-height: 37px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #37b358; }

.has-success .form-control {
  border-color: #37b358;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus {
    border-color: #2b8c45;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ad692;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ad692; }

.has-success .input-group-addon {
  color: #37b358;
  border-color: #37b358;
  background-color: #34a853; }

.has-success .form-control-feedback {
  color: #37b358; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #f6c163; }

.has-warning .form-control {
  border-color: #f6c163;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus {
    border-color: #f3ae33;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fce7c3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fce7c3; }

.has-warning .input-group-addon {
  color: #f6c163;
  border-color: #f6c163;
  background-color: #fcf8e3; }

.has-warning .form-control-feedback {
  color: #f6c163; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #ea4335; }

.has-error .form-control {
  border-color: #ea4335;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus {
    border-color: #d62516;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f49991;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f49991; }

.has-error .input-group-addon {
  color: #ea4335;
  border-color: #ea4335;
  background-color: #ea4335; }

.has-error .form-control-feedback {
  color: #ea4335; }

.has-feedback label ~ .form-control-feedback {
  top: 23px; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.fa.icon-check{
    position: absolute;
    right: 20px;
    top: 38px;
    font-size: 22px;
}
.form-horizontal .fa.icon-check{
    top: 10px;
    right: 30px;
}
.textarea_form_container .fa.icon-check{
    top: 95px;
    right: 15px;
}
.form-horizontal .textarea_form_container .fa.icon-check{
    top: 67px;
    right: 40px;
}
.upload_form_container .fa.icon-check{
    top: 27px;
}
.icon-check.icon-right{
    color: #528d3b;
}

.icon-check.icon-wrong{
    color: #eb4c3e;
}

.help-block{
    color: #eb4c3e;
    margin-top: 10px;
    display: inline-block;
}

.maxlength-indicator{
    display: inline-block;
    margin-top: 13px;
}
.textarea_form_container .maxlength-indicator{
    margin-top: 36px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .form-inline .form-control-static {
    display: inline-block; }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
      width: auto; }
  .form-inline .input-group > .form-control {
    width: 100%; }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .form-inline .radio label,
    .form-inline .checkbox label {
      padding-left: 0; }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 11px; }

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 29px; }

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px; } }

.form-horizontal .has-feedback .form-control-feedback {
  right: 15px; }

@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 13px;
    font-size: 15px; } }

@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px; } }

/*------------------------------------------------------------------
  [Forms]
*/
/*------------------------------------------------------------------
  [Switch button]
*/
.switch-button {
  display: inline-block;
  border-radius: 50px;
  background-color: #b3b3b3;
  width: 60px;
  height: 27px;
  padding: 4px;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  .switch-button input[type="checkbox"] {
    display: none; }
  .switch-button label {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px 1px #FFF inset;
            box-shadow: 0 0 1px 1px #FFF inset;
    background-color: #ffffff;
    margin: 0;
    height: 19px;
    width: 19px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    -webkit-background-clip: padding-box;
            background-clip: padding-box; }
    .switch-button label:before {
      position: absolute;
      font-size: 11px;
      font-weight: 600;
      z-index: 0;
      content: "OFF";
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 27px;
      top: 0;
      text-align: right;
      padding-right: 10px;
      color: #ffffff; }
  .switch-button input[type="checkbox"]:checked + span {
    background-color: #4285f4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px; }
    .switch-button input[type="checkbox"]:checked + span label {
      float: right;
      border-color: #2a75f3; }
      .switch-button input[type="checkbox"]:checked + span label:before {
        position: absolute;
        font-size: 11px;
        font-weight: 600;
        z-index: 0;
        content: "ON";
        color: #ffffff;
        left: 0;
        text-align: left;
        padding-left: 10px; }
  .switch-button.switch-button-yesno label:before {
    content: "NO"; }
  .switch-button.switch-button-yesno input[type="checkbox"]:checked + span label:before {
    content: "YES"; }
  .switch-button.switch-button-xs {
    height: 20px;
    width: 53px;
    line-height: 16px;
    width: 50px; }
    .switch-button.switch-button-xs label {
      height: 12px;
      width: 12px; }
      .switch-button.switch-button-xs label:before {
        line-height: 21px; }
  .switch-button.switch-button-sm {
    height: 24px;
    width: 57px;
    line-height: 20px; }
    .switch-button.switch-button-sm label {
      height: 16px;
      width: 16px; }
      .switch-button.switch-button-sm label:before {
        line-height: 25px; }
  .switch-button.switch-button-lg {
    height: 30px;
    width: 63px;
    line-height: 26px;
    width: 65px; }
    .switch-button.switch-button-lg label {
      height: 22px;
      width: 22px; }
      .switch-button.switch-button-lg label:before {
        line-height: 31px; }
  .switch-button.switch-button-success {
    background-color: #b3b3b3; }
    .switch-button.switch-button-success label {
      border-color: #ababab; }
    .switch-button.switch-button-success input[type="checkbox"]:checked + span {
      background-color: #34a853; }
      .switch-button.switch-button-success input[type="checkbox"]:checked + span label {
        border-color: #2e9549; }
  .switch-button.switch-button-warning {
    background-color: #b3b3b3; }
    .switch-button.switch-button-warning label {
      border-color: #ababab; }
    .switch-button.switch-button-warning input[type="checkbox"]:checked + span {
      background-color: #fbbc05; }
      .switch-button.switch-button-warning input[type="checkbox"]:checked + span label {
        border-color: #e3aa04; }
  .switch-button.switch-button-danger {
    background-color: #b3b3b3; }
    .switch-button.switch-button-danger label {
      border-color: #ababab; }
    .switch-button.switch-button-danger input[type="checkbox"]:checked + span {
      background-color: #ea4335; }
      .switch-button.switch-button-danger input[type="checkbox"]:checked + span label {
        border-color: #e82e1e; }
      
.switch-button.switch-button-visiblehide{
    width: 71px;
    margin-top: 6px;
}
.textarea_form_container .switch-button.switch-button-visiblehide{
    margin-top: 31px;
}
.switch-button.switch-button-visiblehide label:before {
    content: "Caché"; 
}
.switch-button.switch-button-visiblehide input[type="checkbox"]:checked + span label:before {
    content: "Visible"; 
}