#contact {
  display: none;
}

.content_column {
  width: 49%;
  float: left;
  height: 100vh;
}
.link-rt {
  color: #528d3c;
}
#left-column.bg_candidate {
  background: url(../img/bg_login.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content_column .content {
  width: 65%;
  margin: 20% auto 0px;
}

.content_column#right-column .content h3 {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: normal;
}

.content_column#right-column .content {
  margin-top: 25%;
}

.container-btn {
  margin-top: 10%;
}
.container-btn .login-btn {
  font-size: 18px;
  width: 100%;
  padding: 10px;
}

.fa.icon-check {
  display: none;
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  padding-left: 3px;
  border-bottom-color: #666;
}
.form-control:focus {
  box-shadow: none;
}

@media (min-width: 979px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 978px) {
}
@media (min-width: 421px) and (max-width: 767px) {
}
@media (max-width: 420px) {
  #left-column {
    display: none;
  }
  #right-column.bg_candidate {
    background: url(../../img/bg_candidat.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }
  #right-column.bg_cheep {
    background: url(../../img/bg_cheep.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  }
  #right-column .content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10%;
  }
  #right-column h2 {
    display: block;
    font-family: Lato;
    font-size: 25px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
