@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-bold.eot');
  src: url('../fonts/avenir-next-bold.eot') format('embedded-opentype'),
    url('../fonts/avenir-next-bold.woff') format('woff'),
    url('../fonts/avenir-next-bold.ttf') format('truetype'),
    url('../fonts/avenir-next-bold.svg#AvenirNextLTW01BoldRegular')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-italic.eot');
  src: url('../fonts/avenir-next-italic.eot') format('embedded-opentype'),
    url('../fonts/avenir-next-italic.woff') format('woff'),
    url('../fonts/avenir-next-italic.ttf') format('truetype'),
    url('../fonts/avenir-next-italic.svg#AvenirNextLTW01ItalicRegular')
      format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-regular.eot');
  src: url('../fonts/avenir-next-regular.eot') format('embedded-opentype'),
    url('../fonts/avenir-next-regular.woff') format('woff'),
    url('../fonts/avenir-next-regular.ttf') format('truetype'),
    url('../fonts/avenir-next-regular.svg#AvenirNextLTW01RegularRegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir-next-thin.eot');
  src: url('../fonts/avenir-next-thin.eot') format('embedded-opentype'),
    url('../fonts/avenir-next-thin.woff') format('woff'),
    url('../fonts/avenir-next-thin.ttf') format('truetype'),
    url('../fonts/avenir-next-thin.svg#AvenirNextW01ThinRegular') format('svg');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Avenir Next' !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Avenir Next';
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.dashboard {
  background-color: rgba(95, 95, 95, 0.07);
}

a {
  cursor: pointer;
}

a:hover,
a:focus {
  color: initial;
  text-decoration: none;
}

.container-padding {
  padding-left: 50px;
  padding-right: 50px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  /* padding-bottom: 20px; */
  /* Fond blanc nav: */
  background: #5f5f5f;
  /* font-family: AvenirNext-Medium; */
  font-size: 18px;
  color: #f2f3f4;
  height: 70px;
  overflow: auto;
}

.header-container {
  margin: 12px 0;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom nav bar buttons  */

.nav-pills > li > a {
  /* Settings: */
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: transparent;
  padding: 0;
}

/* Custom classes */
.section-container {
  margin-bottom: 60px;
}
.business-info {
  margin-bottom: 45px;
}

.business-detail th {
  /* ID RMPM: */
  opacity: 0.4;
  font-family: AvenirNext-Regular;
  font-weight: 200;
  font-size: 14px;
  color: #2d2926;
  padding-right: 30px;
}

.tab-container {
  /* Fond blanc nav: */
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 45px;
}

.tab-element {
  /* Hover Business group: */
  width: 230px;
  height: 100%;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  /* Business group: */
  font-family: AvenirNext-Medium;

  /* Borrower 2: */
  font-weight: 200;
  font-size: 14px;
  color: #2d2926;

  float: left;
  position: relative;
}

.tab-element:after {
  content: '';
  position: absolute;
  background: rgba(44, 62, 80, 0.16);
  width: 1px;
  height: 50%;
  right: 0;
  top: 25%;
}

rt-tabbar-item:last-child .tab-element:after {
  display: none;
}

.tab-element.active {
  color: #ffffff;
  background: #00965e;
  font-size: 16px;
}

/* Box  */
.stat-box {
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3.48px 3.48px 3.48px 0 3.48px;

  margin-bottom: 15px;
}

.box-title {
  height: 60px;
  /* RISK EXPOSURE: */
  opacity: 0.6;
  font-weight: 200;
  font-size: 16px;
  color: #2d2926;
  letter-spacing: -0.07px;

  padding: 0 17px;
  line-height: 60px;

  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.highcharts-container .highcharts-root {
  width: 100% !important;
  height: 100% !important;
}

.box-body {
  padding: 17px;
  overflow: hidden;
}

.box-body img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.stat-info {
  font-weight: 200;
  font-size: 14px;
  color: #9facb3;
}

.info-value {
  color: #2c3e50;
  font-size: 18px;
  font-weight: 300;
}

.pie-container {
  width: 50%;
  margin: auto;
  margin-bottom: 35px;
  position: relative;
  text-align: center;
}

.pie-label {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.pie-label-percent {
  font-size: 36px;
  font-weight: 600;
  color: #3c4144;
}

.pie-label-text {
  font-weight: 200;
  font-size: 14px;
  color: #9facb3;
}
.table-stat {
  width: 100%;
  border-collapse: collapse;
}

.table-stat th {
  /* 2014: */
  font-weight: 200;
  font-size: 16px;
  color: rgba(45, 41, 38, 0.5);
  height: 35px;
  border: 1px solid #f1f1f1;
}

.table-stat thead th {
  border: none;
}

.table-stat td {
  /* 35%: */
  font-weight: 200;
  font-size: 16px;
  color: #2d2926;
  text-align: center;

  /* Line 7 Copy 2: */
  border: 1px solid #f1f1f1;
}

.table-stat tbody tr:first-child th,
.table-stat tbody tr:first-child td {
  border-top: 0;
}
.table-stat tbody tr:last-child td,
.table-stat tbody tr:last-child th {
  border-bottom: 0;
}

.table-stat tbody tr td:first-child {
  border-top: 0;
}
.table-stat tbody tr td:first-child,
.table-stat tbody tr th:first-child {
  border-left: 0;
}
.table-stat tbody tr td:last-child,
.table-stat tbody tr th:last-child {
  border-right: 0;
}
.menu-box {
  /* Rectangle 5: */
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3.48px 3.48px 3.48px 0 3.48px;
}

.menu-box-title {
  /* Rectangle 2: */
  background: #5f5f5f;
  padding: 17px 20px;
  color: #fff;
}

.menu-box-item {
  height: 60px;
  line-height: 60px;
  font-weight: 100;
  font-size: 13px;
  color: #2c3e50;
  padding: 0 15px 0 17px;
  position: relative;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

.menu-box-item::after {
  content: '\E315';
  font-family: 'Material Icons';
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.news-row {
  margin-bottom: 30px;
}

.news-source {
  font-weight: 200;
  font-size: 12px;
  color: #828a8f;
  margin-bottom: 9px;
}

.news-title {
  font-weight: 400;
  font-size: 14px;
  color: #2c3e50;
  margin-bottom: 3px;
}

.news-body {
  font-weight: 200;
  font-size: 14px;
  color: #2c3e50;
  letter-spacing: 0;
}

.news-date {
  font-weight: 200;
  font-size: 14px;
  color: #2c3e50;
}

.small-btn {
  background: #00965e;
  border-radius: 5px;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
  width: 175px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 45px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
